In [3]:
# !pip install featuretools

Collecting featuretools

WARNING: You are using pip version 20.1.1; however, version 20.3.1 is available.
You should consider upgrading via the 'c:\users\owner\pydataenv\scripts\python.exe -m pip install --upgrade pip' command.

  Downloading featuretools-0.22.0-py3-none-any.whl (294 kB)
Requirement already satisfied: tqdm>=4.32.0 in c:\users\owner\pydataenv\lib\site-packages (from featuretools) (4.51.0)
Requirement already satisfied: pandas!=1.1.0,!=1.1.1,<2.0.0,>=0.24.1 in c:\users\owner\pydataenv\lib\site-packages (from featuretools) (1.0.5)
Requirement already satisfied: scipy>=0.13.3 in c:\users\owner\pydataenv\lib\site-packages (from featuretools) (1.5.1)
Collecting cloudpickle>=0.4.0
  Downloading cloudpickle-1.6.0-py3-none-any.whl (23 kB)
Requirement already satisfied: numpy>=1.13.3 in c:\users\owner\pydataenv\lib\site-packages (from featuretools) (1.19.0)
Collecting distributed>=2.12.0
  Downloading distributed-2.30.1-py3-none-any.whl (656 kB)
Requirement already satisfied: click>=7.0.0 in c:\users\owner\pydataenv\lib\site-packages (from featuretools) (7.1.2)
Collecting dask[dataframe]>=2.12.0
  Downloading dask-2.30.0-py3-none-any.whl (848 kB)
Collecting psutil>=5.4.8
  Downloading psutil-5.7.3-cp38-cp38-win_amd64.whl (243 kB)
Collecting pyyaml>=3.12
  Downloading PyYAML-5.3.1-cp38-cp38-win_amd64.whl (219 kB)
Requirement already satisfied: pytz>=2017.2 in c:\users\owner\pydataenv\lib\site-packages (from pandas!=1.1.0,!=1.1.1,<2.0.0,>=0.24.1->featuretools) (2020.1)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\owner\pydataenv\lib\site-packages (from pandas!=1.1.0,!=1.1.1,<2.0.0,>=0.24.1->featuretools) (2.8.1)
Collecting zict>=0.1.3
  Downloading zict-2.0.0-py3-none-any.whl (10 kB)
Requirement already satisfied: tornado>=6.0.3; python_version >= "3.8" in c:\users\owner\pydataenv\lib\site-packages (from distributed>=2.12.0->featuretools) (6.0.4)
Collecting sortedcontainers!=2.0.0,!=2.0.1
  Downloading sortedcontainers-2.3.0-py2.py3-none-any.whl (29 kB)
Collecting toolz>=0.8.2
  Downloading toolz-0.11.1-py3-none-any.whl (55 kB)
Requirement already satisfied: setuptools in c:\users\owner\pydataenv\lib\site-packages (from distributed>=2.12.0->featuretools) (41.2.0)
Collecting tblib>=1.6.0
  Downloading tblib-1.7.0-py2.py3-none-any.whl (12 kB)
Collecting msgpack>=0.6.0
  Downloading msgpack-1.0.0-cp38-cp38-win_amd64.whl (73 kB)
Collecting partd>=0.3.10; extra == "dataframe"
  Downloading partd-1.1.0-py3-none-any.whl (19 kB)
Collecting fsspec>=0.6.0; extra == "dataframe"
  Downloading fsspec-0.8.4-py3-none-any.whl (91 kB)
Requirement already satisfied: six>=1.5 in c:\users\owner\pydataenv\lib\site-packages (from python-dateutil>=2.6.1->pandas!=1.1.0,!=1.1.1,<2.0.0,>=0.24.1->featuretools) (1.15.0)
Collecting heapdict
  Downloading HeapDict-1.0.1-py3-none-any.whl (3.9 kB)
Collecting locket
  Downloading locket-0.2.0.tar.gz (3.5 kB)
Using legacy setup.py install for locket, since package 'wheel' is not installed.
Installing collected packages: cloudpickle, psutil, heapdict, zict, sortedcontainers, pyyaml, toolz, locket, partd, fsspec, dask, tblib, msgpack, distributed, featuretools
    Running setup.py install for locket: started
    Running setup.py install for locket: finished with status 'done'
Successfully installed cloudpickle-1.6.0 dask-2.30.0 distributed-2.30.1 featuretools-0.22.0 fsspec-0.8.4 heapdict-1.0.1 locket-0.2.0 msgpack-1.0.0 partd-1.1.0 psutil-5.7.3 pyyaml-5.3.1 sortedcontainers-2.3.0 tblib-1.7.0 toolz-0.11.1 zict-2.0.0

In [4]:
import featuretools as ft

# load data
data = ft.demo.load_mock_customer()
df_session = data['sessions']

df_session.head()

   session_id  customer_id   device       session_start
0           1            2  desktop 2014-01-01 00:00:00
1           2            5   mobile 2014-01-01 00:17:20
2           3            4   mobile 2014-01-01 00:28:10
3           4            1   mobile 2014-01-01 00:44:25
4           5            4   mobile 2014-01-01 01:11:30

In [7]:
import category_encoders as ce

# Eoncodeしたい列をリストで指定。もちろん複数指定可能。
list_cols = ['device']

# OneHotEncodeしたい列を指定。Nullや不明の場合の補完方法も指定。
ce_ohe = ce.OneHotEncoder(cols=list_cols,handle_unknown='impute')

# pd.DataFrameをそのまま突っ込む
df_session_ce_onehot = ce_ohe.fit_transform(df_session)

df_session_ce_onehot.head()

   session_id  customer_id  device_1  device_2  device_3       session_start
0           1            2         1         0         0 2014-01-01 00:00:00
1           2            5         0         1         0 2014-01-01 00:17:20
2           3            4         0         1         0 2014-01-01 00:28:10
3           4            1         0         1         0 2014-01-01 00:44:25
4           5            4         0         1         0 2014-01-01 01:11:30

In [8]:
# Eoncodeしたい列をリストで指定。もちろん複数指定可能。
list_cols = ['device']

# 序数をカテゴリに付与して変換
ce_oe = ce.OrdinalEncoder(cols=list_cols,handle_unknown='impute')
df_session_ce_ordinal = ce_oe.fit_transform(df_session)

df_session_ce_ordinal.head()

   session_id  customer_id  device       session_start
0           1            2       1 2014-01-01 00:00:00
1           2            5       2 2014-01-01 00:17:20
2           3            4       2 2014-01-01 00:28:10
3           4            1       2 2014-01-01 00:44:25
4           5            4       2 2014-01-01 01:11:30

In [19]:
ce_oe.category_mapping

[{'col': 'device',
  'mapping': desktop    1
  mobile     2
  tablet     3
  NaN       -2
  dtype: int64,
  'data_type': dtype('O')}]

In [21]:
df_session["device"].value_counts()

desktop    14
mobile     13
tablet      8
Name: device, dtype: int64